<section class="group-cards" id="group-cards-container">
  <% @items.each do | item |%>
    <a class="group-card" href="<%= item_path(item.id) %>">
  		<img class="group-card__image" src="<%= image_item_path(item, format: :jpg) %>">
  		<img class="group-card__audio" src="<%= audio_item_path(item, format: :jpg) %>">
      <h2 class="group-card__header"><%= item.name%></h2>
    </a>
  <% end %>

  <div>
    <%= link_to '+', new_item_path, class: 'edit' %>
  </div>
</section>
<div>
  <%= link_to '+', new_item_item_path(current_item), class: 'edit' %>
</div>



