<!DOCTYPE html>
<html>
<head>
  <title>BenjamRails</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>



    <!-- Fixed navbar -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Benjams</a>
      </div>
    </nav>

    <div>

      <%= yield %>

    </div> <!-- /container -->

</body>
</html>
