<!DOCTYPE html>
<html >
<head>
  <title>BenjamRails</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>



    <!-- Fixed navbar -->
    <div>
      <nav class="navbar navbar-default" role="navigation">
        <div>
          <%= image_tag "user_ben.png",class: 'user' %>
        </div>
        <div class="navbar-header">
          <a href="/">
            <%= image_tag "i_home.png",class: 'home' %>
          </a>
        </div>

        <%if @item && @item.id%>
          <div>
            <a href="<%=new_item_item_path(@item)%>">
              <%= image_tag "i_add_grey.png",class: 'edit' %>
            </a>
          </div>
          <div>
          </div>
		  	<div id="scroll-mode">
			<a href="<%=chooser_path %>">
              <span style="color:grey"> Choose scrolling mode </span>
            </a>
		</div>
          <%if @item.children.none?%>

              <%= image_tag "i_minus_grey.png",class: 'delete',id: "delete_step1" %>         
             <div id="delete_step1">
            </div>
			
          <%end%>         
        <%end%>

      </nav>

      <div>

        <%= yield %>

      </div>

      <div class="cache-progress-bar">
        <p>Cache load progress</p>
        <div class="cache-progress-bar__container">
          <div class="cache-progress-bar__progress"></div>
        </div>
        <div class="cache-progress-bar__text"></div>
      </div>

    </div> <!-- /container -->
	

    <script type="text/javascript">

    </script>

</body>
</html>
